.staysafe-container {
    margin: 0 auto;
    height: 700px;
    width: 1152px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #fff; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.staysafe-right{
    width: 278px;
}