.hero-container {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 1152px;
  height: 700px;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.rectangle {
  width: 295.288px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 30px 0px 0px 30px;
  background: #EC5863;
  position: absolute;
  z-index: -1;
  right: 0;
  position: absolute;
}