nav {
  width: 345px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style-type: none;

  text-transform: uppercase;
}

a {
  text-decoration: none;
  list-style-type: none;

  color: #000;

  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;

}