.cardDiv{
max-width: 40%;
max-height:240px;
}
.cardH2{
    font-size: 44px;
}
.cardH3{
    font-size: 12px;
    color: #616161;
    font-weight: 400;
    margin-bottom: 30px;
}
.coloredTextRed{
    color: #EC5863;
}
.coloredTextBlue{
    color: #4285F4;
}