#app-image {
  width: 548px;
  height: 394px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#app-image img{
  width: 100%;
  height: 100%;
}