.TalkDiv{
    background-color: #FAFBFD;
    padding: 150px 70px 150px 70px;
    width: 100%;

}
.outerTittleDiv{
    display: flex;
    align-items: center;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tittleDiv{
    width: 80%;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: absolute;
    align-items: center;
}
.redText{
    color:#EC5863;
    font-weight: 700;
    font-size: 36px;
    align-items: center;
}
.blackText{
    font-size: 11px;
    align-items: center;
    font-weight: 800;
}
.mainDivTalk{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.imgTalk{
    
    width: 520px;
    height: 284px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playIcon{
    position: absolute;
    margin-top: 120px;
    margin-left: -210px;
}