.hero-content-container{
  display: flex;
  width: 100%;
  margin-top: 90px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.hero-content-container> div:first-child {
  margin-left: 70px;
}