.healthcareDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.healthcareTitle{
   margin-top: 100px;
   margin-bottom: 75px;
   text-align: center;
   width: 70%;
}
.textTitleHealthcare{
    font-size: 44px;
    font-weight: 700;
    padding-bottom: 30px;
}
.redTextHealthcare{
    color: #EC5863;
}

.subtitleHealthcare{
    font-size: 12px;
    font-weight: 400px;
    color: #616161;
    text-align: center;
}
.healthcareImgsDiv{
    background-image: url('/assets/images/Group7.png');
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    align-items:center;
    height: 440px;
    width: 85%;
}
.leftHeathcareImg{
    background-color: white;
    height: 260px;
    width: 260px;
    box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 45px;
}
.midHeathcareImg{
    background-color: white;
    height: 260px;
    width: 260px;
    box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 45px;
}
.rightHeathcareImg{
    height: 260px;
    width: 260px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px rgba(88, 126, 236, 0.18);
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 45px;
}
.healthcareBtm{
   padding-top: 150px;
   display: flex;
   justify-content: space-between;
   width: 25%;
   align-items: center;
}
.imgHealthcareBtmLeft{
    height: 56px;
    width: 160px;
}
.imgHealthcareBtmRight{
    width: 166px;
    height: 66px;
}