#app-video-link{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-left: 70px;
}

.describe-video-link{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-left: 12px;
}

.describe-video-link span{
  color: #B0B0B0;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 16.38px */
  letter-spacing: 1.04px;
}
.describe-video-link p{
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 11.34px */
  letter-spacing: 1.485px;
  text-transform: uppercase;
}