@import "./components/app-button/app-button.css";
@import "./components/app-menu-navigation/AppMenuNavigation.css";
@import "./components/app-header/appHeader.css";
@import "./widgets/assigment/ui/Hero-section/heroSectionWidget.css";
@import "./components/app-image/AppImage.css";
@import "./components/app-section-content-container/appSectionContentContainer.css";
@import "./components/app-video-link/AppVideoLink.css";



:root {
    --color-red: #EC5863;
    --color-blue: #4285F4;
    --color-white: white;
    --color-black: black;
    --color-gray: #616161;
  }
  
  
  h1 {
      color: var(--color-red);
  }

  #app{
    font-family: 'Rubik', sans-serif;
    color:black;
  }