.header-container{
  display: flex;
  margin: 0 auto;
  margin-top: 37px;
  width: 1152px;
  height: 42px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-container> a:first-child{
  margin-left: 52px;
}

.header-container> button:last-child{
  margin-right: 42px;
}